[Desktop Entry]
Name=Python (v3.4)
Comment=Python Interpreter (v3.4)
Exec=/usr/bin/python3.4
Icon=/usr/share/pixmaps/python3.4.xpm
Terminal=true
Type=Application
Categories=Development;
StartupNotify=true
NoDisplay=true
