[Desktop Entry]
Version=1.0
Name=Keyboard
Name[ar]=لوحة المفاتيح
Name[ast]=Tecláu
Name[bg]=Клавиатура
Name[bn]=কীবোর্ড
Name[ca]=Teclat
Name[cs]=Klávesnice
Name[da]=Tastatur
Name[de]=Tastatur
Name[el]=Πληκτρολόγιο
Name[en_GB]=Keyboard
Name[es]=Teclado
Name[eu]=Teklatua
Name[fi]=Näppäinkartta
Name[fr]=Clavier
Name[gl]=Teclado
Name[he]=מקלדת
Name[hr]=Tipkovnica
Name[hu]=Billentyűzet
Name[id]=Papan ketik 
Name[it]=Tastiera
Name[ja]=キーボード
Name[kk]=Пернетақта
Name[ko]=키보드
Name[lt]=Klaviatūra
Name[lv]=Klaviatūra
Name[nb]=Tastatur
Name[nl]=Toetsenbord
Name[nn]=Tastatur
Name[pa]=ਕੀਬੋਰਡ
Name[pl]=Klawiatura
Name[pt]=Teclado
Name[pt_BR]=Teclado
Name[ro]=Tastatură
Name[ru]=Клавиатура
Name[sk]=Klávesnica
Name[sr]=Тастатура
Name[sv]=Tangentbord
Name[te]=కీబోర్డు
Name[tr]=Klavye
Name[ug]=ھەرپتاختا
Name[uk]=Клавіатура
Name[ur]=کیبورڈ
Name[ur_PK]=کیبورڈ
Name[zh_CN]=键盘
Name[zh_TW]=鍵盤
Comment=Edit keyboard settings and application shortcuts
Comment[ar]=تحرير إعدادات لوحة المفاتيح واختصارات التطبيقات
Comment[ast]=Edita la configuración del tecláu y los atayos d'aplicación
Comment[bg]=Редактиране на настройкита на клавиатурата и клавишните комбинации за програмите
Comment[bn]=কীবোর্ড সেটিংসমূহ ও অ্যাপ্লিকেশন শর্টকাট সম্পাদনা
Comment[ca]=Editeu els ajustaments del teclat i les dreceres d'aplicacions
Comment[cs]=Úprava nastavení klávesnice a klávesových zkratek
Comment[da]=Redigér tastaturindstillinger og programgenveje
Comment[de]=Bearbeiten Sie die Tastatureinstellungen und Tastenkürzel für Anwendungen
Comment[el]=Επεξεργασία ρυθμίσεων πληκτρολογίου και συντομεύσεων εφαρμογών
Comment[en_GB]=Edit keyboard settings and application shortcuts
Comment[es]=Edite la configuración del teclado y los atajos de aplicación
Comment[eu]=Editatu teklatu ezarpenak eta aplikazio lasterbideak
Comment[fi]=Näppäimistön asetukset ja sovellusten pikanäppäimet
Comment[fr]=Éditer les paramètres du clavier et raccourcis des applications
Comment[gl]=Modificar as preferencias de teclado e os atallos das aplicacións
Comment[he]=עריכת הגדרות מקלדת וקיצורי יישומים
Comment[hr]=Uredi postavke tipkovnice i prečace programa
Comment[hu]=Billentyűzet-beállítások és alkalmazás-gyorsbillentyűk szerkesztése
Comment[id]=Sunting pengaturan papan ketik dan jalan pintas aplikasi
Comment[it]=Configurazione della tastiera e delle scorciatoie per le applicazioni
Comment[ja]=キーボード設定とアプリケーションショートカットキーを編集します
Comment[kk]=Пернетақта баптауларын мен қолданбалар жарлықтарын түзету
Comment[ko]=키보드 설정과 프로그램 바로 가기를 편집합니다
Comment[lt]=Keiskite klaviatūros nustatymus ir programų susiejimus
Comment[lv]=Rediģēt klaviatūras uzstādījumus un lietotnes īsceļus
Comment[nb]=Rediger tastaturinnstillinger og programsnarveier
Comment[nl]=Toetsenbordinstellingen en toepassingssneltoetsen bewerken
Comment[nn]=Endra tastaturinnstillingar og snøggtastar
Comment[pl]=Konfiguruje ustawienia klawiatury oraz skróty klawiszowe programów
Comment[pt]=Editar definições do teclado e atalhos das aplicações
Comment[pt_BR]=Edite configurações de teclado e atalhos de aplicativos
Comment[ro]=Editați opțiunile de tastatură și combinațiile de taste
Comment[ru]=Изменение настроек клавиатуры и комбинаций клавиш
Comment[sk]=Úprava nastavení klávesnice a klávesových skratiek
Comment[sr]=Уредите подешавања тастатуре и пречица програма
Comment[sv]=Redigera tangentbordsinställningar och programgenvägar
Comment[tr]=Klavye ayarlarını ve uygulama kısayollarını düzenleyiniz
Comment[ug]=ھەرپتاختا تەڭشىكى ۋە پروگرامما تېزلەتمىلىرىنى تەھرىرلەيدۇ
Comment[uk]=Редагувати властивості клавіатури та ярликів запуску програм
Comment[ur]=کیبورڈ کی ترتیبات اور اطلاقیوں کے شارٹ کٹس مدون کریں
Comment[ur_PK]=کیبورڈ کی ترتیبات اور اطلاقیوں کے شارٹ کٹس مدون کریں
Comment[zh_CN]=编辑键盘设置和应用程序快捷键
Comment[zh_TW]=編輯鍵盤設定值與應用程式捷徑
Exec=xfce4-keyboard-settings
Icon=preferences-desktop-keyboard
Terminal=false
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-HardwareSettings;
StartupNotify=true
OnlyShowIn=XFCE;
X-XfcePluggable=true
X-XfceHelpPage=keyboard
