[Xfce Panel]
Type=X-XFCE-PanelPlugin
Name=Keyboard Layouts
Name[ar]=تخطيطات لوحة المفاتيح
Name[ast]=Distribuciones de tecláu
Name[be]=Раскладкі клявіятуры
Name[bg]=Клавиатурни подредби
Name[ca]=Tipus de teclat
Name[cs]=Rozložení klávesnice
Name[da]=Tastaturlayouts
Name[de]=Tastaturbelegung
Name[el]=Διατάξεις πληκτρολογίου
Name[en_GB]=Keyboard Layouts
Name[es]=Distribuciones de teclado
Name[eu]=Teklatu inguruneak
Name[fr]=Dispositions de clavier
Name[gl]=Disposicións de teclado
Name[hr]=Rasporedi tipkovnice
Name[hu]=Billentyűzetkiosztások
Name[id]=Tata Letak Papan Ketik
Name[it]=Disposizione della tastiera
Name[ja]=キーボードレイアウト
Name[ka]=ლავიატურის განლაგებები
Name[kk]=Keyboard Layouts
Name[ko]=키보드 배치
Name[lt]=Klaviatūros išdėstymai
Name[lv]=Klaviatūras izkārtojumi
Name[nl]=Toetsenbordindelingen
Name[pl]=Układy klawiatury
Name[pt]=Esquemas de teclado
Name[pt_BR]=Disposições de teclado
Name[ro]=Aranjamente de tastatură
Name[ru]=Раскладки клавиатуры
Name[sk]=Rozloženie klávesnice
Name[sq]=Skema Tastiere
Name[sv]=Tangentbordslayouter
Name[tr]=Klavye Yerleşimleri
Name[ug]=ھەرپتاختا ئورۇنلاشتۇرۇلۇشى
Name[uk]=Розкладки клавіатури
Name[ur]=کیبورڈ خاکے
Name[ur_PK]=کیبورڈ خاکے
Name[zh_CN]=键盘布局
Name[zh_TW]=鍵盤配置
Comment=Keyboard layouts setup and switch plugin
Comment[ar]=إعدادات تخطيطات لوحة المفاتيح و إضافة المفتاح
Comment[ast]=Complementu de configuración y seleición de distribuciones de tecláu
Comment[be]=Модуль наладкі й пераключэньня раскладак клявіятуры
Comment[bg]=Плъгин за настройка и превключване на клавиатурни подредби
Comment[ca]=Connector de configuració i canvi del tipus teclat
Comment[cs]=Nastavuje a přepíná rozložení klávesnice
Comment[da]=Udvidelsesmodul til indstilling og skift af tastaturlayout
Comment[de]=Plugin zum Einstellen und Umschalten der Tastaturbelegung
Comment[el]=Άρθρωμα εναλλαγής και ρύθμισης των διατάξεων πληκτρολογίου
Comment[en_GB]=Keyboard layouts setup and switch plugin
Comment[es]=Complemento de configuración y selección de distribuciones de teclado
Comment[eu]=Teklatu ingurune konfigurazio eta txandakatze plugina
Comment[fr]=Greffon de disposition de clavier
Comment[gl]=Engadido de configuración e cambio de disposicións de teclado
Comment[hu]=Billentyűzetkiosztás-beállító és -váltó bővítmény
Comment[id]=Pengaturan tata letak papan ketik dan pengalih plugin
Comment[it]=Impostazione della disposizione tastiera e plugin di scelta
Comment[ja]=キーボードレイアウトのセットアップと切替用プラグインです。
Comment[ka]=კლავიატურის განლაგების დაყენების და გადართვის მოდული
Comment[kk]=Пернетақта жаймаларын орнату мен ауыстыру плагині
Comment[ko]=키보드 베치 설정 및 플러그인 변경
Comment[lt]=Klaviatūros išdėstymų nustatymo ir perjungimo įskiepis
Comment[lv]=Klaviatūras izkārtojuma uzstādījumi un pārslēgšanas spraudnis
Comment[nl]=Plugin voor het instellen en veranderen van toetsenbordindelingen
Comment[pl]=Konfiguruje i przełącza układy klawiatury
Comment[pt]="Plug-in" de configuração do esquema do teclado
Comment[pt_BR]=Plug-in configurador e alternador de disposições de teclado
Comment[ro]=Modul pentru opțiunile aranjamentelor de tastatură
Comment[ru]=Настройка и переключение клавиатурных раскладок
Comment[sk]=Nastavuje a prepína rozloženie klávesnice
Comment[sq]=Shtojcë rregullimi dhe këmbimi skemash tastiere
Comment[sv]=Insticksmodul för konfigurering och växling av tangentbordslayouter
Comment[tr]=Klavye yerleşimi yapılandırma ve değiştirme eklentisi
Comment[ug]=ھەرپتاختا ئورۇنلاشتۇرۇلۇشىنى تەڭشەش ۋە ئالماشتۇرۇش قىستۇرمىسىدۇر.
Comment[uk]=Розширення для налаштування розкладок клавіатури та їх перемикання
Comment[ur]=کیبورڈ خاکہ ترتیبات اور مبدل
Comment[ur_PK]=کیبورڈ خاکہ ترتیبات اور مبدل
Comment[zh_CN]=键盘布局设置和切换插件
Comment[zh_TW]=鍵盤配置設置與切換插件
Icon=preferences-desktop-keyboard
X-XFCE-Exec=/usr/lib/arm-linux-gnueabihf/xfce4/panel-plugins/xfce4-xkb-plugin
X-XFCE-Unique=TRUE
