[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Exec=libreoffice %U
MimeType=application/vnd.oasis.opendocument.text-flat-xml;application/vnd.oasis.opendocument.spreadsheet-flat-xml;application/vnd.oasis.opendocument.graphics-flat-xml;application/vnd.oasis.opendocument.presentation-flat-xml;
Name=LibreOffice XSLT based filters
GenericName=XSLT based filters
GenericName[it]=Filtri basati su XSLT
GenericName[ast]=Peñeres basaes en XSLT
GenericName[gu]=XSLT આધારિત ફિલ્ટરો
GenericName[is]=Síur byggðar á XSLT
GenericName[eu]=XSLTn oinarritutako iragazkiak
GenericName[sr]=Филтери засновани на XSLT
GenericName[bs]=XSLT bazirani filteri
GenericName[ga]=Scagairí bunaithe ar XSLT
GenericName[hr]=XSLT temeljeni filtri
GenericName[nn]=XSLT-baserte filter
GenericName[kk]=XSLT сүзгілері
GenericName[ss]=XSLT based filters
GenericName[km]=តម្រង​មាន​មូលដ្ឋាន​លើ XSLT
GenericName[lv]=Uz XSLT balstīts filtrs
GenericName[bg]=XSLT филтри
GenericName[om]=Gingilchaa XSLT
GenericName[st]=XSLT based filters
GenericName[nr]=XSLT based filters
GenericName[hu]=XSLT-alapú szűrők
GenericName[oc]=Filtres basats sus XSLT
GenericName[pa_IN]=XSLT ਅਧਾਰਿਤ ਫਿਲਟਰ
GenericName[de]=XSLT basierte Filter
GenericName[sl]=Filtri na osnovi XSLT
GenericName[el]=Φίλτρα με βάση XSLT
GenericName[he]=מסננים מבוססי XSLT
GenericName[xh]=XSLT based filters
GenericName[nso]=XSLT based filters
GenericName[en_ZA]=XSLT based filters
GenericName[zu]=XSLT based filters
GenericName[be]=Фільтры на аснове XSLT
GenericName[tn]=XSLT based filters
GenericName[fa]=XSLT based filters
GenericName[uz]=XSLT based filters
GenericName[ca_valencia]=Filtres basats en XLST
GenericName[pt]=Filtros baseados em XSLT
GenericName[th]=XSLT based filters
GenericName[kmr_Latn]=XSLT based filters
GenericName[tg]=XSLT based filters
GenericName[nl]=Filters gebaseerd op XSLT
GenericName[ko]=XSLT 기반 필터
GenericName[fi]=XSLT-muotoiset suodattimet
GenericName[es]=Filtros basados en XSLT
GenericName[zh_TW]=基於 XSLT 的過濾器
GenericName[da]=XSLT baserede filtre
GenericName[ne]=XSLT based filters
GenericName[ar]=مرشحات القائمة على XSLT
GenericName[pt_BR]=Filtros baseados em XSLT
GenericName[rw]=XSLT based filters
GenericName[ts]=XSLT based filters
GenericName[ta]=XSLT அடிப்படையிலான வடிகட்டிகள்
GenericName[en_GB]=XSLT based filters
GenericName[as]=XSLT ভিত্তিয় ফিল্টাৰসমূহ
GenericName[sk]=Filtre používajúce XSLT
GenericName[en]=XSLT based filters
GenericName[dz]=XSLT based filters
GenericName[lt]=XSLT filtrai
GenericName[sv]=XSLT-baserade filter
GenericName[ve]=XSLT based filters
GenericName[cs]=Filtry používající XSLT
GenericName[uk]=Фільтри XSLT
GenericName[ro]=Filtru bazat pe XSLT
GenericName[zh_CN]=基于 XSLT 的过滤器
GenericName[pl]=filtry bazujące na XSLT
GenericName[eo]=XSLT-bazitaj filtriloj
GenericName[cy]=Hidlau yn seiliedig ar XSLT
GenericName[ml]=എക്സ്എസ്എല്‍റ്റി അടിസ്ഥാനത്തിലുള്ള ഫില്‍റ്ററുകള്‍
GenericName[ca]=Filtres basats en XLST
GenericName[ug]=XSLT ئاساسىدىكى سۈزگۈچلەر
GenericName[id]=Penyaring berbasis XSLT
GenericName[ru]=Фильтры XSLT
GenericName[et]=XSLT-põhised filtrid
GenericName[te]=XSLT ఆధారిత ఫిల్టర్స్
GenericName[si]=XSLT based filters
GenericName[vi]=Trình lọc theo XSLT
GenericName[hi]=XSLT आधारित फिल्टर
GenericName[ja]=XSLT ベースのフィルター
GenericName[gd]=Criathragan stèidhichte air XSLT
GenericName[bn]=XSLT based filters
GenericName[gl]=Filtros baseados en XSLT
GenericName[mn]=XSLT based filters
GenericName[mk]=XSLT based filters
GenericName[af]=XSLT based filters
GenericName[ka]=XSLT based filters
GenericName[br]=Siloù diazezet war XSLT
GenericName[tr]=XSLT tabanlı süzgeçler
GenericName[or]=XSLT ଆଧାରିତ ଛାଣକଗୁଡ଼ିକ
GenericName[mr]=XSLT आधारित फिल्टरस्
GenericName[nb]=XSLT-baserte filtre
GenericName[fr]=Filtres basés sur XSLT
NoDisplay=true
StartupNotify=true
X-GIO-NoFuse=true
X-KDE-Protocols=file,http,smb,ftp,webdav
