[Xfce Panel]
Type=X-XFCE-PanelPlugin
Name=DateTime
Name[ar]=تاريخ وقت
Name[ast]=Data y hora
Name[bg]=Дата и час
Name[ca]=Data i hora
Name[cs]=Datum a čas
Name[da]=Dato-tid
Name[de]=Datum und Zeit
Name[el]=Ημερομηνία ώρα
Name[en_GB]=DateTime
Name[es]=Fecha y hora
Name[eu]=Data-ordua
Name[fr]=DateHeure
Name[gl]=DateTime
Name[hr]=DatumVrijeme
Name[hu]=Dátum/idő
Name[id]=DateTime
Name[is]=Dagsetning og tími
Name[it]=Orario
Name[ja]=DateTime
Name[kk]=Күн мен уақыт
Name[ko]=DateTime
Name[lt]=Data laikas
Name[lv]=DatumsLaiks
Name[nl]=DatumTijd
Name[nn]=Datotid
Name[pa]=ਮਿਤੀਸਮਾਂ
Name[pl]=Czas i data
Name[pt]=DataHora
Name[pt_BR]=DateTime
Name[ro]=Ceas cu calendar
Name[ru]=Дата и время
Name[sk]=Dátum a čas
Name[sr]=Датум и време
Name[sv]=DateTime
Name[tr]=Tarih & Saat
Name[ug]=چېسلا ۋە ۋاقىت
Name[uk]=Дата-Час
Name[ur]=تاریخ وقت
Name[ur_PK]=تاریخ وقت
Name[zh_CN]=DateTime 日期与时间
Name[zh_TW]=日期時間
Comment=Date and Time plugin with a simple calendar
Comment[ar]=إضافة تاريخ و الوقت مع مذكرة بسيطة
Comment[bg]=Добавка за датата и часа с опростен календар
Comment[ca]=Complement de data i hora amb un calendari senzill
Comment[cs]=Zásuvný modul Datum a čas s jednoduchým kalendářem
Comment[da]=Dato- og tid-udvidelsesmodul med simpel kalender
Comment[de]=Eine Erweiterung für die Leiste, die Datum und Uhrzeit anzeigt und einen einfachen Kalender anbietet
Comment[el]=Άρθρωμα ημερομηνίας και ώρας μαζί με ένα απλό ημερολόγιο
Comment[en_GB]=Date and Time plugin with a simple calendar
Comment[es]=Complemento de fecha y hora con un calendario sencillo
Comment[eu]=Egutegi sinple bateko data eta ordu plugin-a
Comment[fr]=Greffon date et heure avec un calendrier simple
Comment[gl]=Engadido de data e hora cun sinxelo calendario
Comment[hr]=Datum i vrijeme priključak  sa jednostavnim kalendarom
Comment[hu]=Dátum és idő bővítmény egyszerű naptárral
Comment[id]=Plugin Tanggal dan Waktu dengan kalender sederhana
Comment[is]=Dagsetninga- og tímaviðbót með einföldu dagatali
Comment[it]=Plugin di data e ora con un calendario base
Comment[ja]=シンプルなカレンダーと日付と時刻を表示します
Comment[kk]=Уақыт пен күн плагині, қарапайым күнтізбесі бар
Comment[ko]=간단한 달력을 제공하는 날짜와 시간 플러그인 입니다
Comment[lt]=Datos ir laiko įskiepis su paprastu kalendorium
Comment[lv]=Datuma un Laika spraudnis, ar vienkāršu kalendāru
Comment[nl]=Datum en Tijd-plugin met een simpele kalender
Comment[nn]=Innstikk for dato og tid med ein enkel kalender
Comment[pa]=ਸਧਾਰਨ ਕੈਲੰਡਰ ਨਾਲ ਮਿਤੀ ਅਤੇ ਸਮਾਂ ਪਲੱਗਇਨ
Comment[pl]=Wyświetla bieżący czas oraz datę w prostym kalendarzu
Comment[pt]="Plugin" data e hora com um calendário
Comment[pt_BR]=Plug-in de Data e Horário com um calendário simples
Comment[ro]=Modul pentru ceas cu un calendar simplu
Comment[ru]=Отображает дату и время на панели, содержит простой календарь
Comment[sk]=Zásuvný modul Dátum a čas s jednoduchým kalendárom
Comment[sr]=Прикучак за датум и време са простим календаром
Comment[sv]=Insticksmodul för datum och tid med en enkel kalender
Comment[tr]=Basit bir takvimi olan, tarih ve saat programcığı.
Comment[ug]=ئاددىي يىلنامە بىلەن ۋاقىت ۋە چېسلانى كۆرسىتىش
Comment[uk]=Модуль Дата і Час з простим календарем
Comment[ur]=تاریخ اور وقت پلگ ان بمع سادہ کیلینڈر
Comment[ur_PK]=تاریخ اور وقت پلگ ان بمع سادہ کیلینڈر
Comment[zh_CN]=带简单日历的日期与时间插件
Comment[zh_TW]=日期與時間插件，含簡易行事曆
Icon=xfce-schedule
X-XFCE-Module=datetime
X-XFCE-Internal=FALSE
