[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Indicator Plugin
Name[ar]=إضافة المؤشر
Name[bg]=Индикатор плъгин
Name[ca]=Connector d'indicadors
Name[cs]=Zásuvný modul Indikátor
Name[da]=Indikator-plugin
Name[de]=Nachrichtenanzeige
Name[es]=Complemento de indicador
Name[eu]=Adierazle plugina
Name[fi]=Ilmaisinliitännäinen
Name[fr]=Indicateur greffon
Name[gl]=Engadido de indicadores
Name[hr]=Priključak indikatora
Name[hu]=Indikátor bővítmény
Name[id]=Plugin Indikator
Name[it]=Plugin indicatore
Name[ja]=インジケータープラグイン
Name[ko]=표시기 플러그인
Name[lt]=Indikatorių įskiepis
Name[nl]=Indicator-plugin
Name[pl]=Aplet powiadamiania
Name[pt]="Plug-in" Indicador
Name[pt_BR]=Plugin Indicador
Name[ro]=Modul de indicator
Name[ru]=Индикаторы
Name[sk]=Zásuvný modul Indicator
Name[sr]=Прикључак Указивач
Name[tr]=Gösterge Eklentisi
Name[ug]=كۆرسەتكۈ قىستۇرمىسى
Name[uk]=Плагін індикаторів
Name[zh_CN]=指示器插件
Name[zh_TW]=指示器插件
Comment=An indicator of something that needs your attention on the desktop
Comment[ar]=مؤشرا لشيء يحتاج إلى عناية منك على سطح المكتب
Comment[bg]=Индикатор, който се нуждае от Вашето внимание.
Comment[ca]=Un indicador d'alguna cosa que requereix la vostra atenció en l'escriptori
Comment[cs]=Indikátor záležitosti, která vyžaduje vaši pozornost na pracovní ploše
Comment[da]=En indikator på, at noget på desktoppen kræver din opmærksomhed
Comment[de]=Eine Anzeige, dass etwas Ihre Aufmerksamkeit benötigt
Comment[es]=Un indicador de algo que necesita su atención en el escritorio
Comment[eu]=Mahaigainean zerbaitek zure arreta behar duenaren adierazle bat
Comment[fi]=Työpöydällä huomiotasi vaativan ohjelman tai tapahtuman ilmaisin
Comment[fr]=Un indicateur de quelque chose qui nécessite votre attention
Comment[gl]=Un indicador de algo no escritorio que precisa a súa atención
Comment[hr]=Indikator nečega što zahtjeva vašu pozornost na radnoj površini
Comment[hu]=Ez az indikátor jelzi, hogy valami a figyelmét igényli az asztalon
Comment[id]=Sebuah indikator atau sesuatu yang memerlukan perhatian anda di desktop
Comment[it]=Un indicatore per qualsiasi cosa richieda attenzione sulla scrivania
Comment[ja]=デスクトップ上であなたの注目を引きたいなにがしかのインジケーターです
Comment[ko]=데스크톱에서 주목해야 하는 요소를 표시합니다
Comment[lt]=Indikatorius to, kas darbalaukyje reikalauja jūsų dėmesio
Comment[nl]=Een indicator van iets dat uw aandacht nodig heeft op het bureaublad
Comment[pl]=Przechowuje powiadomienia o zdarzeniach środowiska wartych zwrócenia uwagi
Comment[pt]=Uma indicação sobre algo que requer a sua atenção
Comment[pt_BR]=Um indicador de algo que requer sua atenção na área de trabalho
Comment[ro]=Un indicator pentru chestii ce necesită atenție
Comment[ru]=Индикатор события, требующего вашего внимания
Comment[sk]=Indikátor niečoho, čo vyžaduje vašu pozornosť na pracovnej ploche
Comment[sr]=Указивач нечега што захтева вашу пажњу на радној површи
Comment[tr]=Masaüstünde ilgilenmenizi gerektiren şeyleri gösteren bir göstergedir.
Comment[ug]=كۆرسەتكۈ دېگەن سىزنىڭ ئۈستەلئۈستىدىكى دىققىتىڭىزنى تارتىدىغان نەرسىدۇر
Comment[uk]=Індикатор якоїсь події, що потребує Вашої уваги на стільниці
Comment[zh_CN]=桌面上需要您注意的事项的指示器
Comment[zh_TW]=某個東西的指示器希望引起您的注意
Icon=xfce4-indicator-plugin
X-XFCE-Module=indicator-plugin
X-XFCE-Internal=FALSE
