[Xfce Panel]
Type=X-XFCE-PanelPlugin
Name=Places
Name[ar]=أماكن
Name[ast]=Llugares
Name[be]=Месцы
Name[bg]=Места
Name[ca]=Llocs
Name[cs]=Místa
Name[da]=Steder
Name[de]=Orte
Name[el]=Τοποθεσίες
Name[en_AU]=Places
Name[en_GB]=Places
Name[es]=Lugares
Name[et]=Asukohad
Name[eu]=Kokalekuak
Name[fi]=Sijainnit
Name[fr]=Raccourcis
Name[gl]=Lugares
Name[he]=מקומות
Name[hr]=Mjesta
Name[hu]=Helyek
Name[id]=Tempat
Name[is]=Staðir
Name[it]=Risorse
Name[ja]=場所
Name[kk]=Орындар
Name[ko]=위치
Name[lt]=Vietos
Name[lv]=Vietas
Name[nb]=Steder
Name[nl]=Locaties
Name[pa]=ਥਾਵਾਂ
Name[pl]=Miejsca
Name[pt]=Locais
Name[pt_BR]=Locais
Name[ro]=Locuri
Name[ru]=Переход
Name[sk]=Miesta
Name[sq]=Vende
Name[sr]=Места
Name[sv]=Platser
Name[th]=ที่หลักๆ
Name[tr]=Yerler
Name[ug]=ئورۇنلار
Name[uk]=Місця
Name[ur]=مقامات
Name[ur_PK]=مقامات
Name[zh_CN]=位置
Name[zh_TW]=位置
Comment=Access folders, documents, and removable media
Comment[ar]=ولوج إلى المجلدات والوثائق و الوسائط القابلة للإزالة
Comment[ast]=Acceder a carpetes, documentos y soportes estrayibles
Comment[bg]=Предоставя бърз достъп към папки, документи и преносими устройства
Comment[ca]=Accediu a documents, carpetes i medis extraïbles
Comment[cs]=Přístup ke složkám, dokumentům a vyměnitelným médiím
Comment[da]=Tilgå mapper, dokumenter og fjernbare medier
Comment[de]=Auf Ordner, Dokumente und entfernbare Medien zugreifen
Comment[el]=Προσβάσιμοι φάκελοι, έγγραφα και αφαιρέσιμα μέσα
Comment[en_AU]=Access folders, documents, and removable media
Comment[en_GB]=Access folders, documents, and removable media
Comment[es]=Acceder a carpetas, documentos y soportes extraíbles
Comment[eu]=Eskuratu karpetan dokumentu eta euskarri aldagarriak
Comment[fi]=Kansiot, dokumentit ja irrotettavat taltiot
Comment[fr]=Accéder aux répertoires, documents, et périphériques amovibles
Comment[gl]=Acceder a cartafoles, documentos, e soportes extraíbles
Comment[he]=גישה לתיקיות, מסמכים והתקני מדיה נשלפים.
Comment[hr]=Pristup mapama, dokumentima i uklonjivim medijima
Comment[hu]=Mappák, dokumentumok és cserélhető adathordozók elérése
Comment[id]=Akses folder, dokumen, dan media dapat dilepas
Comment[is]=Gefur aðgang að möppum, skjölum og útskiptanlegum miðlum
Comment[it]=Acceso a cartelle, documenti e supporti rimovibili
Comment[ja]=フォルダー、ドキュメント、およびリムーバブルメディアにアクセスします
Comment[kk]=Бумалар, құжаттар мен ауыстырмалы тасымалдағыштарға қатынас құру
Comment[ko]=폴더, 문서, 이동식 미디어에 접근합니다
Comment[lt]=Pasiekite aplankus, dokumentus ir keičiamąsias laikmenas
Comment[lv]=Piekļūst mapēm, dokumentiem un noņemamiem datu nesējiem
Comment[nb]=Få tilgang til mapper, dokumenter og flyttbare media
Comment[nl]=Toegang tot mappen, documenten en verwijderbare opslagmedia
Comment[pa]=ਫੋਲਡਰ, ਡੌਕੂਮੈਂਟ ਅਤੇ ਹਟਾਉਣਯੋਗ ਮੀਡਿਆ ਵਰਤੋਂ
Comment[pl]=Umożliwia dostęp do katalogów, dokumentów i nośników wymiennych
Comment[pt]=Aceda a pastas, documentos e dispositivos amovíveis
Comment[pt_BR]=Acesse pastas, documentos e mídias removíveis
Comment[ro]=Acces la directoare, documente și medii amovibile
Comment[ru]=Предоставляет быстрый доступ к папкам, документам и съемным носителям
Comment[sk]=Pristupovať k priečinkom, dokumentom a vymeniteľným médiám
Comment[sq]=Hyni në dosje, dokumente, dhe media të lëvizshme
Comment[sr]=Приступите фасциклама, документима, и уклоњивим уређајима
Comment[sv]=Kom åt mappar, dokument och flyttbart media
Comment[th]=เข้าถึงโฟลเดอร์, เอกสาร และสื่อถอดเสียบต่างๆ
Comment[tr]=Dizinlere, belgelere ve ayrılabilir ortamlara erişin
Comment[ug]=مۇندەرىجە، پۈتۈك ۋە يۆتكىلىشچان ۋاسىتىنى زىيارەت قىلىش
Comment[uk]=Доступ до тек, документів, та з'ємних пристроїв
Comment[ur]=فولڈر، دستاویزات، اور قابلِ فصل میڈیا تک رسائی حاصل کریں
Comment[ur_PK]=فولڈر، دستاویزات، اور قابلِ فصل میڈیا تک رسائی حاصل کریں
Comment[zh_CN]=访问文件夹、文档和可移动介质
Comment[zh_TW]=存取資料夾、文件、可移除式媒體
Icon=system-file-manager
X-XFCE-Module=places
X-XFCE-Unique=FALSE
