[Xfce Panel]
Type=X-XFCE-PanelPlugin
Name=Weather Update
Name[ar]=تحديث الطقس
Name[ast]=Anovamientu del tiempu
Name[be]=Абнаўленне надвор'я
Name[ca]=Informació meteorològica
Name[cs]=Počasí
Name[da]=Vejropdatering
Name[de]=Wetterbericht
Name[el]=Ενημέρωση Καιρού
Name[en_GB]=Weather Update
Name[eu]=Eguraldiaren eguneraketa
Name[fi]=Sääpäivitys
Name[fr]=Mise-à-jour météo
Name[gl]=Actualización do tempo
Name[he]=עדכון מזג אוויר
Name[hr]=Dopune vremena
Name[hu]=Időjárási adatok frissítése
Name[id]=Pemutakhiran Cuaca
Name[it]=Aggiornamento meteo
Name[ja]=最新の天気
Name[ko]=날씨 업데이트
Name[lt]=Orų tarnyba
Name[lv]=Laikapstākļu atjaunināšana
Name[nb]=Væroppdatering
Name[nl]=Weerbericht
Name[nn]=Vêroppdatering
Name[pa]=ਮੌਸਮ ਅੱਪਡੇਟ
Name[pl]=Komunikat pogodowy
Name[pt]=Atualização meteorológica
Name[pt_BR]=Atualização meteorológica
Name[ru]=Погода
Name[sk]=Aktuálny stav počasia
Name[sq]=Përditësim Moti
Name[sr]=Освежавање временске прогнозе
Name[sv]=Väderuppdatering
Name[tr]=Hava durumu Güncelle
Name[ug]=ھازىرقى ھاۋارايى
Name[uk]=Оновлення погоди
Name[ur]=موسم تجدید
Name[ur_PK]=موسم تجدید
Name[zh_CN]=天气资讯
Name[zh_TW]=天氣報告
Comment=Show current weather conditions
Comment[ar]=عرض أحوال الطقس حالياً
Comment[ast]=Amosar les condiciones atmosfériques d'anguaño
Comment[be]=Паказаць бягучае надвор'е
Comment[ca]=Mostra les condicions meteorològiques actuals
Comment[cs]=Sleduje aktuální počasí a předpovědi
Comment[da]=Vis nuværende vejrtilstande
Comment[de]=Zeigt das aktuelle Wetter
Comment[el]=Εμφανίζει τις τρέχουσες καιρικές συνθήκες
Comment[en_GB]=Show current weather conditions
Comment[eu]=Ikusi dauden eguraldi baldintzak
Comment[fi]=Näytä ajantasaiset säätiedot
Comment[fr]=Afficher les conditions météo actuelles
Comment[gl]=Mostrar as condicións meteorolóxicas actuais
Comment[he]=הצג תנאי מזג אוויר נוכחיים
Comment[hr]=Prikaži trenutne vremenske uvjete
Comment[hu]=A jelenlegi időjárási helyzet megjelenítése
Comment[id]=Tampilkan kondisi cuaca terkini
Comment[it]=Mostra le condizioni meteo attuali
Comment[ja]=現在の天気状況を表示します。
Comment[ko]=현재 날씨 상태를 보입니다
Comment[lt]=Rodyti dabartines oro sąlygas
Comment[lv]=Rādīt tagadējos laika apstākļus
Comment[nb]=Vis gjeldende værforhold
Comment[nl]=Toon huidige weeromstandigheden
Comment[nn]=Vis gjeldande vêrforhold
Comment[pa]=ਮੌਜੂਦਾ ਮੌਸਮ ਹਾਲਤ ਵੇਖਾਓ
Comment[pl]=Wyświetla bieżące warunki pogodowe
Comment[pt]=Mostrar condições meteorológicas atuais
Comment[pt_BR]=Mostra condições meteorológicas atuais
Comment[ru]=Показать текущую погоду
Comment[sk]=Zobraziť aktuálne počasie
Comment[sq]=Shfaq kushtet e motit për çastin
Comment[sr]=Прикажи тренутне временске услове
Comment[sv]=Visa aktuella väderförhållanden
Comment[tr]=Mevcut hava durumunu göster
Comment[ug]=ھازىرقى ھاۋارايى ئەھۋالىنى كۆرسىتىدۇ.
Comment[uk]=Показати поточний стан погоди
Comment[ur]=حالیہ موسم کی حالت ظاہر کریں
Comment[ur_PK]=حالیہ موسم کی حالت ظاہر کریں
Comment[zh_CN]=显示目前天气情况
Comment[zh_TW]=顯示目前天氣狀況
Icon=xfce4-weather
X-XFCE-Internal=FALSE
X-XFCE-Module=weather
