[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Dictionary
Name[ar]=قاموس
Name[ast]=Diccionariu
Name[be]=Слоўнік
Name[bg]=Речник
Name[ca]=Diccionari
Name[cs]=Slovník
Name[da]=Ordbog
Name[de]=Wörterbuch
Name[el]=Λεξικό
Name[en_GB]=Dictionary
Name[es]=Diccionario
Name[eu]=Hiztegia
Name[fi]=Sanakirja
Name[fr]=Dictionnaire
Name[gl]=Dicionario
Name[hr]=Rječnik
Name[hu]=Szótár
Name[id]=Kamus
Name[is]=Orðasafn
Name[it]=Dizionario
Name[ja]=辞書
Name[kk]=Сөздік
Name[ko]=사전
Name[lt]=Žodynas
Name[lv]=Vārdnīca
Name[nb]=Ordliste
Name[nl]=Woordenboek
Name[pl]=Słownik
Name[pt]=Dicionário
Name[pt_BR]=Dicionário
Name[ru]=Словарь
Name[sk]=Slovník
Name[sr]=Речник
Name[sv]=Ordbok
Name[tr]=Sözlük
Name[ug]=لۇغەت
Name[uk]=Словник
Name[ur]=لغت
Name[ur_PK]=لغت
Name[zh_CN]=词典
Name[zh_TW]=字典
Comment=A plugin to query different dictionaries.
Comment[ar]=إضافة للمساعد في الاستعلام بقواميس مختلفة.
Comment[ast]=Un complementu pa consultar diferentes diccionarios.
Comment[bg]=Плъгин за намиране на различни речници.
Comment[ca]=Un connector per fer consultes a diversos diccionaris.
Comment[cs]=Zásuvný modul pro získávání dat za slovníků.
Comment[da]=Et udvidelsesmodul, der slår op i forskellige ordbøger.
Comment[de]=Ein Plugin zum Abfragen verschiedener Wörterbücher.
Comment[el]=Ένα πρόσθετο για να εκτελείτε ερωτήματα σε διάφορα λεξικά
Comment[en_GB]=A plugin to query different dictionaries.
Comment[es]=Un complemento para consultar diferentes diccionarios.
Comment[eu]=Hiztegi ezberdinak galdekatzeko plugina.
Comment[fi]=Käytä verkkosanakirjoja.
Comment[fr]=Un greffon pour consulter différents dictionnaires.
Comment[gl]=Un engadido para consultar diferentes dicionarios.
Comment[hu]=Különböző szótárak lekérdezése
Comment[id]=Plugin untuk kueri berbagai kamus.
Comment[it]=Un'estensione per interrogare diversi dizionari
Comment[ja]=いろいろな辞書を照会するプラグインです。
Comment[kk]=Бірнеше сөздіктен сұрау үшін плагині.
Comment[ko]=제각기 다른 사전에 요청하는 플러그인입니다.
Comment[lt]=Įskiepis skirtas užklausti skirtingus žodynus.
Comment[lv]=Spraudnis, lai vaicātu dažādām vārdnīcām.
Comment[nb]=Ordliste for hurtig tilgang til forskjellige ordlister.
Comment[nl]=Een invoegtoepassing om verschillende woordenboeken te raadplegen.
Comment[pl]=Umożliwia wyszukiwanie wyrażeń w różnych słownikach
Comment[pt]=Um "plugin" para consultar diversos dicionários.
Comment[pt_BR]=Um plug-in para consultar dicionários diferentes.
Comment[ru]=Плагин для запросов к опрелённым словарям.
Comment[sk]=Zásuvný modul na hľadanie v rôznych slovníkoch.
Comment[sr]=Прикључак за упит различитим речницима.
Comment[sv]=En insticksmodul för att fråga olika ordböcker.
Comment[tr]=Çeşitli sözlükleri sorgulamak için eklenti.
Comment[ug]=ھەر خىل لۇغەتلەردىن ئىزدەيدىغان قىستۇرما.
Comment[uk]=Додаток для пошуку у різних словниках.
Comment[ur]=مختلف لغتوں میں تلاش کے لیے پلگ ان
Comment[ur_PK]=مختلف لغتوں میں تلاش کے لیے پلگ ان
Comment[zh_CN]=查询不同词典的插件。
Comment[zh_TW]=可查詢不同字典的插件。
Icon=xfce4-dict
X-XFCE-Module=xfce4dict
X-XFCE-Internal=false

