[Desktop Entry]
Version=1.0
Icon=iceweasel
Type=X-XFCE-Helper
Name=Iceweasel
Name[ar]=Iceweasel
Name[ca]=Iceweasel
Name[cs]=Iceweasel
Name[da]=Iceweasel
Name[de]=Iceweasel
Name[el]=Iceweasel
Name[en_GB]=Iceweasel
Name[es]=Iceweasel
Name[eu]=Iceweasel
Name[fi]=Iceweasel
Name[fr]=Iceweasel
Name[gl]=Iceweasel
Name[he]=Iceweasel
Name[hr]=Iceweasel
Name[hu]=Iceweasel
Name[id]=Iceweasel
Name[it]=Iceweasel
Name[ja]=Iceweasel
Name[kk]=Iceweasel
Name[ko]=아이스위즐
Name[lt]=Iceweasel
Name[nl]=Iceweasel
Name[nn]=Iceweasel
Name[pl]=Iceweasel
Name[pt]=Iceweasel
Name[pt_BR]=Iceweasel
Name[ro]=Iceweasel
Name[ru]=Iceweasel
Name[sk]=Iceweasel
Name[sr]=Ледена ласица
Name[ug]=Iceweasel
Name[uk]=Iceweasel
Name[zh_CN]=Iceweasel
Name[zh_TW]=Iceweasel
StartupNotify=false
X-XFCE-Binaries=iceweasel;iceweasel-gtk2;iceweasel-gtk;
X-XFCE-Category=WebBrowser
X-XFCE-Commands=%B -remote "openURL(about:blank,new-window)";%B;
X-XFCE-CommandsWithParameter=%B -remote "openURL(%s)";%B %s;
